# Python
__pycache__/

# datasets
data/

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Model Files
.h5

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# OS
Thumbs.db